/* line 3, ../compass/sass/styles.scss */
.page-wrapper .container #page-title {
  border-bottom: 1px solid black;
  padding: 26px 0px;
}
/* line 7, ../compass/sass/styles.scss */
.page-wrapper .container .header {
  border-bottom: 1px solid black;
}
/* line 9, ../compass/sass/styles.scss */
.page-wrapper .container .header #logo {
  max-width: 100%;
}
/* line 12, ../compass/sass/styles.scss */
.page-wrapper .container .header #search-box {
  width: 75%;
  display: inline-block;
}
/* line 18, ../compass/sass/styles.scss */
.page-wrapper .container .header .search-wrapper .navbar ul {
  text-align: center;
  color: black;
}
/* line 21, ../compass/sass/styles.scss */
.page-wrapper .container .header .search-wrapper .navbar ul li {
  border-left: 1px solid black;
  margin: 15px 0;
}
/* line 24, ../compass/sass/styles.scss */
.page-wrapper .container .header .search-wrapper .navbar ul li a {
  padding: 0 15px;
}
/* line 28, ../compass/sass/styles.scss */
.page-wrapper .container .header .search-wrapper .navbar ul li:first-child {
  border-left: none;
}
/* line 34, ../compass/sass/styles.scss */
.page-wrapper .container .header .right-header {
  text-align: right;
}
/* line 36, ../compass/sass/styles.scss */
.page-wrapper .container .header .right-header .account {
  margin-bottom: 30px;
}
/* line 44, ../compass/sass/styles.scss */
.page-wrapper .container .body-row .body-left #video .video-left {
  display: inline-block;
  width: 70%;
}
/* line 48, ../compass/sass/styles.scss */
.page-wrapper .container .body-row .body-left #video .video-left iframe {
  width: 100%;
  height: 450px;
}
/* line 53, ../compass/sass/styles.scss */
.page-wrapper .container .body-row .body-left #video .video-right {
  width: 25%;
  float: right;
}
/* line 56, ../compass/sass/styles.scss */
.page-wrapper .container .body-row .body-left #video .video-right img {
  display: inline;
  width: 45%;
}
/* line 61, ../compass/sass/styles.scss */
.page-wrapper .container .body-row .body-left #video .video-right p {
  width: 54%;
  display: inline-block;
  font-size: 8px;
}
/* line 67, ../compass/sass/styles.scss */
.page-wrapper .container .body-row .body-left #video .video-right .video-preview {
  margin: 20px 0;
}
/* line 73, ../compass/sass/styles.scss */
.page-wrapper .container .body-row .body-right {
  margin-top: 40px;
}
/* line 75, ../compass/sass/styles.scss */
.page-wrapper .container .body-row .body-right img {
  width: 100%;
}
